.content {
    border-color:black;
    border-width: 3px;
    height:300px;
    width:800px;
    padding:50px;
    position:absolute;
    top:50px;
}

.pink {
    background-color:pink;
    color:black;
    padding: 1px 10px 20px 20px;
}

.blue {
    background-color: blue;
    color:white;
    padding: 1px 10px 20px 20px;
}

.blue a {
    color:white;
}