body {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,251,213,1) 44%, rgba(209,247,255,1) 100%);
    font-family: 'Marcellus', serif;
    color:white;
    height: 100vh;
}

p {
    font-size: 30px;
    color: #b3b3b3;
}

.menu {
    height:100px;
    position:absolute;
    top:0px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #b3b3b3;
}

.content {
    margin: auto;
    width:800px;
}

.box {
    height:300px;
    text-align: center;
    padding:100px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    font-size: 90px;
}

.pink {
    background-color:pink;
    color:black;
    padding: 1px 10px 20px 20px;
}

.blue {
    background-color: blue;
    color:white;
    padding: 1px 10px 20px 20px;
}

.blue a {
    color:white;
}