body {
    background-image: url("pastelbg1.jpg");
    background-repeat:repeat;
    font-family: 'Marcellus', serif;
    color:white;
}

.content {
    margin: auto;
    width:800px;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 90px;
}

.pink {
    background-color:pink;
    color:black;
    padding: 1px 10px 20px 20px;
}

.blue {
    background-color: blue;
    color:white;
    padding: 1px 10px 20px 20px;
}

.blue a {
    color:white;
}